/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #111;
    color: white;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff9933;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #ff9933, #ffffff, #138808);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 25px;
}

.hero-btn {
    padding: 12px 30px;
    border: none;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-btn:hover {
    background: #333;
}

/* Headline Section */
.headline {
    padding: 80px 100px;
    text-align: center;
}

.headline h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.headline p {
    max-width: 700px;
    margin: auto;
}

/* Gallery */
.gallery {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px;
}

.gallery img {
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* CTA */
.cta {
    background: #f5f5f5;
    text-align: center;
    padding: 80px;
}

.cta-btn {
    padding: 12px 30px;
    border: none;
    background: #138808;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.cta-btn:hover {
    background: #0f6606;
}

/* Footer */
.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 25px;
}
